<div class="row">
  <div class="col s12 m12 l12">
    <h4>
      <%= @institution.name %>
      <div class="right">
        <%= link_to t("actions.edit"), edit_institution_path(@institution), class: "btn blue"  %>
        <%= link_to t("actions.back"), institutions_path, class: "btn gray"  %>
      </div>
    </h4>
  </div>
</div>


<div class="row">
  <div class="col s12 m12 l12">
    <span style="font-weight: bold"><%= Institution.human_attribute_name(:category) %>:</span>
    <span><%= @institution.category_text %></span>
    
    <br /><br /><br />

    <span style="font-weight: bold"><%= Institution.human_attribute_name(:description) %>:</span>
    <blockquote><%= @institution.description %></blockquote>
  </div>
</div>
