<div class="row">
  <div class="col s12 m12 l12">
    <h4 class="col s12 m10 l10">
      <%= Job.model_name.human(count: 2) %>
    </h4>

    <div class="right">
      <%= link_to t("actions.add"), new_institution_job_path(@institution), class: "btn green"  %>
      <%= link_to t("actions.back"), institutions_path, class: "btn gray"  %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l12">
    <table class="responsive-table highlight">
      <thead>
        <tr>
          <th><%= Job.human_attribute_name(:title) %></th>
          <th><%= Job.human_attribute_name(:description) %></th>
          <th><%= Job.human_attribute_name(:requirements) %></th>
          <th><%= Job.human_attribute_name(:start_date) %></th>
          <th><%= Job.human_attribute_name(:end_date) %></th>
        </tr>
      </thead>
      <tbody>
        <% @institution.jobs.each do |job| %>
          <tr>
            <td><%= job.title %></td>
            <td><%= job.description %></td>
            <td><%= job.requirements %></td>
            <td><%= job.start_date.strftime("%m/%d/%Y") %></td>
            <td><%= job.end_date.strftime("%m/%d/%Y") %></td>
            <td>
              <%= link_to edit_institution_job_path(job.institution, job), class: "btn-floating blue" do %>
                <i class="material-icons">edit</i>
              <% end %>
              <%= link_to institution_job_path(job.institution, job), method: :delete, class: "btn btn-floating red", data: { confirm: "Are you sure?" } do %>
                <i class="material-icons">highlight_remove</i>
              <% end %>
              <%= link_to institution_job_path(job.institution, job), class: "btn btn-floating gray" do %>
                <i class="material-icons">class</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
