<!-- JOBS DASHBOARD BEGIN -->
<% @jobs.each do |job| %>
  <div class="jobs-board">
    <div class="row">
        <div class="col s12 m12 l6">
          <div class="card horizontal">
              <div class="card-image">
              <img src="https://lorempixel.com/200/200/nature/6">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h5><%=job.title%></h5>
                  <hr>
                  <p><strong><%= Job.human_attribute_name(:description) %>: </strong><%=job.description%></p>
                  <hr>
                <p><strong><%= Job.human_attribute_name(:requirements) %>: </strong><%=job.requirements%></p>
                </div>
                <div class="card-action">
                  <a href="#"><%=t("actions.add_as_favorite")%></a>
                  <%= link_to t("actions.apply_for_this_job"), new_job_subscription_path(job) %>
                </div>
              </div>
          </div>
        </div>
    </div>

  </div>
<%end%>
<!-- JOBS DASHBOARD END -->
