<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/body' %>
    <%= render 'layouts/modal' %>
    <%= render 'layouts/scripts' %>
  </body>
</html>
