<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/body' %>
    <%= render 'layouts/modal' %>
    <%= render 'layouts/scripts' %>
  </body>

  <!-- specific SCRIPTS section -->
  <script>

      // Initialize collapse button for sidebar
      $(".menu-collapse").sideNav();
      // Initialize collapsible (uncomment the line below if you use the dropdown variation)
      // $('.collapsible').collapsible();


      // initialize selection for Filter Options
      $(document).ready(function() {
          $('select').material_select();
        });

  </script>

</html>
